.dock {
    display: flex;
    height: 700px;
}
.checkbox-select {
    display: 'flex';
    flex-flow: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 900px;
    margin-bottom: 10px;
}
.field-radio-group {
    display: 'flex';
    margin-left: 10px;
    margin-right: 10px;
    color: '#ccc';
  }