.axis--x path {
    display: none;
  }
  
  /* .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  } */
  
  .lineOrders {
      fill: none;
      /*shape-rendering: crispEdges;*/
      stroke: red;
      stroke-width: 2px;
  }

  /* body { font: 12px Arial;}
  body { font: 12px Arial;}

  path { 
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
  } */
  
  /* .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  } */

/* Style the dots by assigning a fill and stroke */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  /*  */
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 10px sans-serif;
  background: #f0f0e8;
  pointer-events: none;
}
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
  clip-path: url(#clip);
}


 